<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <title>Javier's Django Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" srel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet"> <!--- References the base.css file --->
    </head>

    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Javier's Django Blog</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">+ New Blog Post</a>
                </div>
            </header>

            {% if user.is_authenticated %}  <!---This code allows to display the name of the user on the pages if
            the login is successful--->
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p> <!--- Built-in Django auth app functionality for
                logging out. It provides the necessary view--->
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>